Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": [
		"eslint --fix --max-warnings 0",
		"prettier --write"
	],
	"*.css": [
		"stylelint --fix"
	],
	"*.{md,mdx}": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

test: cases for sync context
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/createSyncContext.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: add example for async context
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/createSyncContext.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: nested formatting
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/__tests__/__snapshots__/markdown-roundtrips-consistency.test.ts.snap
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/__tests__/markdown-roundtrips-consistency.test.ts
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/markdownParser.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: add await
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/createSyncContext.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: clean code
  packages/app/src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin/EditorPanelPlugin.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: optimize AST for heading
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/__tests__/__snapshots__/markdown-roundtrips-consistency.test.ts.snap
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/__tests__/markdown-roundtrips-consistency.test.ts
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/remark/remarkLiftFormatting.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: nested list items style
  packages/app/src/features/NoteEditor/RichEditor/theme/RichEditor.css
Due: stylelint --fix

fix: set styles for separator
  packages/app/src/features/NoteEditor/RichEditor/theme/RichEditor.css
Due: stylelint --fix

fix: link color
  packages/app/src/features/NoteEditor/RichEditor/theme/RichEditor.css
Due: stylelint --fix

fix: css custom props name
  packages/app/src/features/NoteEditor/RichEditor/theme/RichEditor.css
Due: stylelint --fix

fix: consistent selection style
  packages/app/src/components/theme/base.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update packages
  package-lock.json
  packages/app/package.json
Due: prettier --write --parser json

chore: improve CSS
  packages/app/src/features/NoteEditor/RichEditor/theme/RichEditor.css
Due: stylelint --fix

chore: update imports
  packages/app/src/features/NoteEditor/RichEditor/RichEditor.tsx
  packages/app/src/features/NoteEditor/RichEditor/plugins/CodeHighlightPlugin.tsx
  packages/app/src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin/EditorPanelPlugin.tsx
  packages/app/src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin/utils/tree.tsx
  packages/app/src/features/NoteEditor/RichEditor/plugins/KeyboardControlsPlugin/KeyboardControlsPlugin.ts
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/__tests__/utils.ts
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/convertLexicalNodeToMarkdownNode.ts
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/markdownParser.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: implement Playwright unit tests
  package-lock.json
  packages/app/.env.example
  packages/app/package.json
  packages/app/src/features/NoteEditor/RichEditor/RichEditorContent.tsx
  packages/app/src/features/NoteEditor/RichEditor/__tests__/utils/renderEditorInDOM.tsx
  packages/app/src/features/NoteEditor/RichEditor/__tests__/utils/renderRichEditor.tsx
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/__tests__/__snapshots__/paragraphs.browser.test.ts.snap
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/__tests__/paragraphs.browser.test.ts
  packages/app/vitest.config.mts
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

test: add text with few paragraphs
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/__tests__/__snapshots__/markdown-roundtrips-consistency.test.ts.snap
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/__tests__/markdown-roundtrips-consistency.test.ts
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/__tests__/markdown-samples/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update tsconfig types
  packages/app/tsconfig.json
Due: prettier --write --parser json

test: preserve empty paragraphs
  packages/app/.gitignore
  packages/app/src/features/NoteEditor/RichEditor/__tests__/utils/renderEditorInDOM.tsx
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/__tests__/__snapshots__/paragraphs.browser.test.ts.snap
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/__tests__/paragraphs.browser.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: ensure empty paragraph in Lexical
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/markdownParser.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: convert each 2 lines into 1 paragraph
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/remark/remarkPreserveBlankLines.test.ts
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/remark/remarkPreserveBlankLines.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: serialize empty paragraph as empty line
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/__tests__/__snapshots__/markdown-roundtrips-consistency.test.ts.snap
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/markdownParser.ts
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/remark/remarkLiftFormatting.ts
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/remark/remarkPreserveBlankLines.ts
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/serializeMarkdownTree.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: stabilize empty lines strategy
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/__tests__/__snapshots__/markdown-roundtrips-consistency.test.ts.snap
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/__tests__/markdown-roundtrips-consistency.test.ts
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/markdownParser.ts
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/remark/remarkPreserveBlankLines.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: fix dom test
  packages/app/src/features/NoteEditor/RichEditor/__tests__/spec/image.dom.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: update serialization cases
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/remark/remarkPreserveBlankLines.test.ts
  packages/app/src/features/NoteEditor/RichEditor/plugins/Markdown/serializeMarkdownTree.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: fix list styles
  packages/app/src/features/NoteEditor/RichEditor/RichEditorContent.tsx
  packages/app/src/features/NoteEditor/RichEditor/RichTextContainer.tsx
  packages/app/src/features/NoteEditor/RichEditor/theme/RichEditor.css
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --fix

ci: install playwright
  .github/workflows/codeql.yml
Due: none

fix: header styles
  packages/app/src/features/NoteEditor/RichEditor/theme/RichEditor.css
Due: stylelint --fix

docs: add readme
  packages/app/README.md
Due: prettier --write --parser markdown

ci: build the app
  .github/workflows/codeql.yml
Due: none

feat: implement image saving
  packages/app/src/features/NoteEditor/RichEditor/plugins/Image/DownloadableContent.tsx
  packages/app/src/features/NoteEditor/RichEditor/plugins/Image/ImageComponent.tsx
Due: eslint --fix --max-warnings 0, prettier --write
