Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

fix: ignore changes programmatic changes
  src/features/NoteEditor/RichEditor/plugins/Markdown/MarkdownSerializePlugin.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: rename tag
  src/features/NoteEditor/RichEditor/plugins/Markdown/MarkdownSerializePlugin.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor: use OnChangePlugin
  src/features/NoteEditor/RichEditor/plugins/Markdown/MarkdownSerializePlugin.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: Note is sometimes updates while opening (#268)
  src/features/NoteEditor/RichEditor/plugins/Markdown/MarkdownSerializePlugin.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: setup i18next
  package-lock.json
  package.json
  scripts/webpack/app.ts
  src/components/PropertiesForm.tsx
  src/components/TagEditor/index.tsx
  src/features/App/Settings/sections/appearance/AppZoomLevel.tsx
  src/features/MainScreen/TagsPanel/index.tsx
  src/features/MainScreen/WorkspacesPanel/WorkspaceCreatePopup.tsx
  src/features/MainScreen/WorkspacesPanel/index.tsx
  src/hooks/useStandaloneToast.tsx
  src/i18n.tsx
  src/locales/en/common.json
  src/locales/en/features.json
  src/locales/en/vault.json
  src/locales/en/workspace.json
  src/windows/main/renderer.tsx
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: use label props
  src/components/TagEditor/index.tsx
  src/features/MainScreen/TagsPanel/index.tsx
  src/features/MainScreen/WorkspacesPanel/index.tsx
  src/locales/en/features.json
  src/locales/en/workspace.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: update i18n texts
  packages/app/src/features/MainScreen/NotesListPanel/NotesList.tsx
  packages/app/src/features/NotesContainer/index.tsx
  packages/app/src/locales/en/features.json
  packages/app/src/locales/ru/features.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: remove unused packages
  package-lock.json
  package.json
  packages/app/package.json
Due: prettier --write --parser json

chore: install deps in workspace
  package-lock.json
  packages/app/package.json
Due: prettier --write --parser json

fix: use localized date
  packages/app/src/features/MainScreen/NotesListPanel/NotesList.tsx
  packages/app/src/hooks/useLocalizedDate.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: localize note context menu
  packages/app/src/features/NotesContainer/NoteContextMenu/useNoteContextMenu.ts
  packages/app/src/i18n.tsx
  packages/app/src/locales/en/contextMenu.json
  packages/app/src/locales/ru/contextMenu.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

feat: introduce alternative locale
  compose.yml
  src/locales/.cache/30d4f331d8b8a2ea190e6e308b6739be65b74070
  src/locales/.cache/3c3313ee771f7f85f62605afff03dc38cbd28d39
  src/locales/.cache/4d513ec953dec314081f019046db4d03a719109f
  src/locales/.cache/7b368c79aa3115e0fd7ac455243899ab8be0012f
  src/locales/.cache/8c715e84e2e63e419576c326b9c404225fc75038
  src/locales/ru/common.json
  src/locales/ru/features.json
  src/locales/ru/settings.json
  src/locales/ru/vault.json
  src/locales/ru/workspace.json
Due: prettier --write --parser json

chore: update localization texts
  packages/app/src/features/NotesContainer/index.tsx
  packages/app/src/locales/en/features.json
  packages/app/src/locales/ru/features.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: delete call to action
  packages/app/src/features/NotesContainer/index.tsx
  packages/app/src/locales/en/features.json
  packages/app/src/locales/ru/features.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

fix: css
  src/components/TextWithIcon.tsx
  src/features/App/Settings/SettingsWindow.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: use spinner in splash screen
  packages/app/src/features/SplashScreen/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: update eslint config
  .prettierignore
  eslint.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: localize context menu
  packages/app/src/features/MainScreen/TagsPanel/useTagContextMenu.ts
  packages/app/src/locales/en/contextMenu.json
  packages/app/src/locales/ru/contextMenu.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

refactor: use localized text for duplicate titles
  packages/app/src/hooks/notes/useNoteCommandHandlers.ts
  packages/app/src/locales/en/features.json
  packages/app/src/locales/ru/features.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

feat: let user choose the language
  src/features/App/Settings/sections/GeneralSettings.tsx
  src/features/App/Settings/sections/language-names.json
  src/i18n.tsx
  src/state/redux/settings/selectors/preferences.ts
  src/state/redux/settings/settings.ts
  src/windows/main/renderer.tsx
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: update eslint
  eslint.config.ts
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: update NPM scripts
  .github/workflows/codeql.yml
  package.json
Due: prettier --write --parser json

ci: run test if exists
  .github/workflows/codeql.yml
Due: none

feat: localize formatted date
  packages/app/src/features/App/Settings/sections/WorkspaceSettings.tsx
  packages/app/src/features/App/Settings/sections/appearance/EditorConfig.tsx
  packages/app/src/features/NoteEditor/EditorPanel/EditorPanel.tsx
  packages/app/src/hooks/notes/TemplateProcessor.test.ts
  packages/app/src/hooks/notes/TemplateProcessor.ts
  packages/app/src/hooks/notes/useCreateNote.ts
  packages/app/src/hooks/useLocalizedDate.tsx
  packages/app/src/i18n.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Revert "chore: update zen theme colors"
  src/components/theme/color-schemes/zen.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: version info layout
  packages/app/src/features/App/Settings/sections/GeneralSettings.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: move makefile
  packages/app/Makefile
Due: none

chore: update zen theme colors
  src/components/theme/color-schemes/zen.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: add hook to crash workspace
  packages/app/src/features/App/Profile/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: improve locales
  packages/app/src/features/NoteEditor/NoteMenu.tsx
  packages/app/src/features/NoteEditor/NoteVersions.tsx
  packages/app/src/locales/en/features.json
  packages/app/src/locales/en/workspace.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: localize workspace templates
  packages/app/src/features/App/Profile/index.tsx
  packages/app/src/features/App/Workspace/WorkspaceErrorProvider.tsx
  packages/app/src/features/App/Workspace/WorkspaceErrorScreen.tsx
  packages/app/src/features/MainScreen/WorkspacesPanel/useWorkspacesList.tsx
  packages/app/src/locales/en/features.json
  packages/app/src/locales/ru/features.json
  packages/app/src/state/redux/profiles/profiles.ts
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

refactor: rename profile entity to vault
  packages/app/src/core/features/telemetry/index.ts
  packages/app/src/core/storage/ConfigStorage.ts
  packages/app/src/core/storage/VaultsManager.test.ts
  packages/app/src/core/storage/VaultsManager.ts
  packages/app/src/electron/requests/storage/ElectronFilesController.integration.test.ts
  packages/app/src/electron/requests/storage/__snapshots__/ElectronFilesController.integration.test.ts.snap
  packages/app/src/features/App/ChooseVaultScreen.tsx
  packages/app/src/features/App/VaultCreator/index.tsx
  packages/app/src/features/App/VaultLoginForm/index.tsx
  packages/app/src/features/App/index.tsx
  packages/app/src/features/App/useActiveVaultId.ts
  packages/app/src/features/App/useRecentVault.ts
  packages/app/src/features/App/useVaultsList.ts
  packages/app/src/state/redux/store.ts
  packages/app/src/state/redux/vaults/selectors/selectWorkspaceState.ts
  packages/app/src/state/redux/vaults/vaults.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: throw duplicate error for tag update calls
  packages/app/src/core/features/tags/controller/TagsController.test.ts
  packages/app/src/core/features/tags/controller/TagsController.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: use localized text for markdown links
  packages/app/src/hooks/notes/useNoteCommandHandlers.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: sync the i18n language on main process
  packages/app/src/LocalesProvider.tsx
  packages/app/src/electron/main/I18nContext.ts
  packages/app/src/electron/main/createAppMenu.ts
  packages/app/src/electron/main/main.ts
  packages/app/src/electron/requests/electronPatches/main.ts
  packages/app/src/electron/requests/interop/index.ts
  packages/app/src/electron/requests/interop/main.ts
  packages/app/src/electron/requests/interop/renderer.ts
  packages/app/src/windows/main/main.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: focus on input with error
  packages/app/src/components/TagEditor/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: add config to translate locale files
  packages/app/.env.example
  packages/app/docker/transmart/Dockerfile
  packages/app/package.json
  packages/app/transmart.config.js
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.css
  prettier --write --parser markdown: any of: *.{md,mdx}
  prettier --write --parser json: any of: *.json
