Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": [
		"eslint --fix --max-warnings 0",
		"prettier --write"
	],
	"*.css": [
		"stylelint --fix"
	],
	"*.{md,mdx}": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

refactor: use new Worker
  src/core/database/flexsearch/FlexSearchIndex.ts
  words.txt
Due: eslint --fix --max-warnings 0, prettier --write

refactor: use native Webpack 5 way to spawn workers
  package-lock.json
  package.json
  scripts/webpack/app.ts
  scripts/webpack/shared.ts
  src/core/database/flexsearch/FlexSearchIndex.ts
  src/core/database/flexsearch/FlexSearchIndex.worker.ts
  src/core/database/sqlite/SQLiteDatabase.worker.ts
  src/core/database/sqlite/SQLiteDatabaseWorker.ts
  src/core/features/encryption/workers/Cryptography.worker.ts
  src/core/features/encryption/workers/WorkerEncryptionProxyProcessor.ts
  src/core/features/encryption/workers/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

refactor: use SQLite in worker everywhere
  src/core/database/sqlite/openSQLite.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: set flag early
  src/core/database/sqlite/SQLiteDatabase.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: use managed DB
  src/core/features/notes/controller/NotesController.test.ts
  src/core/features/notes/history/NoteVersions.test.ts
  src/core/storage/interop/import/NotesImporter.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: delete commented code
  src/core/features/notes/controller/NotesController.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: use a comlink for encryption worker
  src/core/features/encryption/createEncryption.ts
  src/core/features/encryption/workers/Cryptography.worker.ts
  src/core/features/encryption/workers/WorkerEncryptionProxyProcessor.ts
  src/core/features/encryption/workers/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: delete WorkerMessenger
  src/utils/workers/WorkerMessenger.ts
  src/utils/workers/WorkerRPC.ts
  src/utils/workers/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: improve module names
  src/core/features/encryption/createEncryption.ts
  src/core/features/encryption/worker/Encryption.worker.ts
  src/core/features/encryption/worker/WorkerEncryptionProcessor.ts
  src/core/features/encryption/worker/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update vitest
  package-lock.json
  package.json
Due: prettier --write --parser json

feat: add benchmark for encryption algorithms
  src/core/features/encryption/worker/Encryption.worker.ts
  src/core/features/encryption/worker/WorkerEncryptionProcessor.ts
  src/core/features/encryption/worker/encryption.bench.ts
  src/core/features/encryption/worker/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update deps
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: wait for promise
  src/core/features/files/ComlinkFS.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: extend OverlayFS
  src/core/features/files/ComlinkFS.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: await promises in benchmarks
  src/core/database/sqlite/SQLite.bench.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: add avaits
  src/core/features/notes/history/NoteVersions.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: use lazy storage
  src/core/database/flexsearch/FlexSearchIndex.worker.ts
  src/core/database/flexsearch/FlexSearchStorage.ts
Due: eslint --fix --max-warnings 0, prettier --write

perf: optimize flexsearch storage
  package-lock.json
  package.json
  src/core/database/flexsearch/FlexSearchStorage.ts
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

test: add benchmark for flexsearch storages
  .gitignore
  package-lock.json
  package.json
  scripts/datasets/build-bin.ts
  scripts/datasets/fetch-wiki.ts
  scripts/datasets/load-bin.ts
  scripts/datasets/prepare-bench-data.ts
  src/core/database/flexsearch/FlexSearchStorage.bench.ts
  tsconfig.json
  words.txt
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

test: merge tests
  src/core/database/flexsearch/FlexSearchStorage.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: await timers run
  src/core/features/notes/controller/NotesTextIndexer.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: run intersection only once
  src/core/features/notes/controller/NotesController.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: ignore errors in handlers
  src/core/database/sqlite/SQLiteDatabase.test.ts
  src/core/database/sqlite/SQLiteDatabase.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: ensure buffer
  src/core/database/sqlite/openSQLite.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: close DB properly
  src/core/database/sqlite/SQLiteDatabase.worker.test.ts
  src/core/database/sqlite/SQLiteDatabase.worker.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: ensure commit all pending ops
  src/core/database/flexsearch/FlexSearchIndex.test.ts
  src/core/database/flexsearch/FlexSearchIndex.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove unused service
  src/features/App/Workspace/index.tsx
  src/features/App/Workspace/services/WorkspaceServices.tsx
  src/features/App/Workspace/services/useLexemesRegistryPrune.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor: add constraint for workspace id field
  src/__tests__/utils/makeAppContext.ts
  src/__tests__/utils/makeAutoClosedDB.ts
  src/core/database/sqlite/migrations/sql/1_init_db.sql
  src/core/features/attachments/AttachmentsController.test.ts
  src/core/features/files/FilesController.test.ts
  src/core/features/integrity/FilesIntegrityController.test.ts
  src/core/features/notes/bin/DeletedNotesController.test.ts
  src/core/features/notes/controller/NotesController.filters.test.ts
  src/core/features/notes/controller/NotesController.search.test.ts
  src/core/features/notes/controller/NotesController.test.ts
  src/core/features/notes/controller/NotesTextIndexer.test.ts
  src/core/features/notes/history/NoteVersions.test.ts
  src/core/features/tags/controller/TagsController.test.ts
  src/core/storage/interop/export/NotesExporter.test.ts
  src/core/storage/interop/import/NotesImporter.test.ts
  src/hooks/notes/useNotesExport.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

test: use only makeAutoClosedSQLiteDB
  src/__tests__/utils/makeAutoClosedDB.ts
  src/__tests__/utils/makeAutoClosedSQLiteDB.test.ts
  src/core/features/files/FilesController.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove unused helpers
  src/__tests__/utils/uuid.ts
  src/core/features/notes/controller/__tests__/NotesController.bench.ts
  src/core/features/tags/controller/TagsController.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: introduce createWorkspaceContext
  src/__tests__/utils/createTestContext.ts
  src/__tests__/utils/makeAppContext.ts
  src/__tests__/utils/vaultContext.ts
  src/core/features/attachments/AttachmentsController.test.ts
  src/core/features/files/FilesController.test.ts
  src/core/features/integrity/FilesIntegrityController.test.ts
  src/core/features/notes/bin/DeletedNotesController.test.ts
  src/core/features/notes/controller/NotesController.filters.test.ts
  src/core/features/notes/controller/NotesController.search.test.ts
  src/core/features/notes/controller/NotesController.test.ts
  src/core/features/notes/controller/NotesTextIndexer.test.ts
  src/core/features/notes/history/NoteVersions.test.ts
  src/core/features/tags/controller/TagsController.test.ts
  src/core/storage/interop/export/NotesExporter.test.ts
  src/core/storage/interop/import/NotesImporter.test.ts
  src/hooks/notes/useNotesExport.test.tsx
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: skip close if DB is already closed
  src/core/database/ManagedDatabase.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: use a workspace context with no manual DB creation
  src/__tests__/utils/vaultContext.ts
  src/core/features/attachments/AttachmentsController.test.ts
  src/core/features/files/FilesController.test.ts
  src/core/features/integrity/FilesIntegrityController.test.ts
  src/core/features/notes/bin/DeletedNotesController.test.ts
  src/core/features/notes/controller/NotesController.filters.test.ts
  src/core/features/notes/controller/NotesController.search.test.ts
  src/core/features/notes/controller/NotesController.test.ts
  src/core/features/notes/history/NoteVersions.test.ts
  src/core/features/tags/controller/TagsController.test.ts
  src/core/storage/interop/export/NotesExporter.test.ts
  src/core/storage/interop/import/NotesImporter.test.ts
  src/hooks/notes/useNotesExport.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: use ordering in aggregation function
  src/core/features/tags/controller/selectTagsWithResolvedNames.sql
Due: none

chore: update types
  src/types.d.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: improve DB scheme
  src/core/database/sqlite/migrations/sql/1_init_db.sql
  src/core/features/attachments/AttachmentsController.ts
  src/core/features/notes/controller/NotesController.filters.test.ts
  src/core/features/notes/controller/NotesController.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update benchmark
  src/core/features/notes/controller/__tests__/NotesController.bench.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: compile twofish into WASM
  src/core/encryption/ciphers/Twofish/wasm/Dockerfile
  src/core/encryption/ciphers/Twofish/wasm/README.md
  src/core/encryption/ciphers/Twofish/wasm/build.sh
  src/core/encryption/ciphers/Twofish/wasm/compose.yml
  src/core/encryption/ciphers/Twofish/wasm/main.c
  src/core/encryption/ciphers/Twofish/wasm/string.h
  src/core/encryption/ciphers/Twofish/wasm/twofish.c
  src/core/encryption/ciphers/Twofish/wasm/twofish.h
  src/core/encryption/ciphers/Twofish/wasm/twofish_wasm.c
Due: prettier --write --parser markdown

fix: improve CTR cipher performance
  src/core/encryption/cipherModes/CTRCipherMode.ts
  src/core/encryption/cipherModes/CTRMode.test.ts
  src/core/encryption/utils/xor.ts
Due: eslint --fix --max-warnings 0, prettier --write
