Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": [
		"eslint --fix --max-warnings 0",
		"prettier --write"
	],
	"*.css": [
		"stylelint --fix"
	],
	"*.{md,mdx}": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

fix: localize default workspace name
  packages/app/src/features/App/Profiles/hooks/useProfileContainers.ts
  packages/app/src/locales/en/features.json
  packages/app/src/locales/ru/features.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: use localized texts for default values
  packages/app/src/components/PropertiesForm.tsx
  packages/app/src/locales/en/common.json
  packages/app/src/locales/ru/common.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

fix: replace hardcoded string
  packages/app/src/features/App/ProfileCreator/index.tsx
  packages/app/src/locales/en/vault.json
  packages/app/src/locales/ru/vault.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: improve workspace error screen
  packages/app/src/features/App/CenterBox.tsx
  packages/app/src/features/App/Workspace/WorkspaceErrorScreen.tsx
  packages/app/src/locales/en/features.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: prettify
  packages/app/src/features/App/VaultScreen.tsx
  packages/app/src/features/App/Vaults/hooks/vaults.ts
  packages/app/src/hooks/commands/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update locale file
  packages/app/src/locales/en/vault.json
Due: prettier --write --parser json

feat: add locale
  packages/app/src/features/App/VaultCreator/index.tsx
  packages/app/src/features/App/index.tsx
  packages/app/src/features/MainScreen/WorkspacesPanel/WorkspaceCreatePopup.tsx
  packages/app/src/locales/.cache/17539a45715d3a6d9d4941c5cb939edc9e5bae15
  packages/app/src/locales/.cache/30d4f331d8b8a2ea190e6e308b6739be65b74070
  packages/app/src/locales/.cache/3c3313ee771f7f85f62605afff03dc38cbd28d39
  packages/app/src/locales/.cache/4d513ec953dec314081f019046db4d03a719109f
  packages/app/src/locales/.cache/7b368c79aa3115e0fd7ac455243899ab8be0012f
  packages/app/src/locales/.cache/8c715e84e2e63e419576c326b9c404225fc75038
  packages/app/src/locales/.cache/9c6190ea91db45c710be41fc02d6eba801e48fe4
  packages/app/src/locales/.cache/a4361d08ce241278a1bb1ba63226b8e6eb2435c8
  packages/app/src/locales/.cache/a4a659a214f3a317742bc0516fe48cadab701f45
  packages/app/src/locales/.cache/cf33c549ebd7abb8e36a7ac9f98757cc9d760cc7
  packages/app/src/locales/.cache/ebf116495baaddbb2ef3444b6d75361dc5a93c3c
  packages/app/src/locales/en/features.json
  packages/app/src/locales/en/vault.json
  packages/app/src/locales/ru/common.json
  packages/app/src/locales/ru/features.json
  packages/app/src/locales/ru/menu.json
  packages/app/src/locales/ru/settings.json
  packages/app/src/locales/ru/vault.json
  packages/app/src/locales/ru/workspace.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: add languages in supported list
  packages/app/src/features/App/Settings/sections/GeneralSettings.tsx
  packages/app/src/i18n.ts
  packages/app/src/i18n/index.ts
  packages/app/src/i18n/language-names.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

feat: suggest names from the pool
  packages/app/src/components/PropertiesForm.tsx
  packages/app/src/features/App/ProfileCreator/index.tsx
  packages/app/src/features/App/index.tsx
  packages/app/src/features/MainScreen/WorkspacesPanel/WorkspaceCreatePopup.tsx
  packages/app/src/locales/en/common.json
  packages/app/src/locales/en/features.json
  packages/app/src/locales/en/vault.json
  packages/app/src/locales/ru/common.json
  packages/app/src/locales/ru/features.json
  packages/app/src/locales/ru/vault.json
  packages/app/src/utils/collections/shuffleArray.ts
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: improve description
  packages/app/src/locales/en/workspace.json
Due: prettier --write --parser json

chore: localize the native confirm dialog
  package-lock.json
  packages/app/package.json
  packages/app/src/LocalesProvider.tsx
  packages/app/src/electron/main/createAppMenu.ts
  packages/app/src/electron/main/main.ts
  packages/app/src/electron/requests/electronPatches/main.ts
  packages/app/src/i18n.ts
  packages/app/src/locales/en/common.json
  packages/app/src/locales/ru/common.json
  packages/app/src/windows/about/index.ts
  packages/app/src/windows/main/main.ts
  packages/app/src/windows/main/renderer.tsx
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: localize menus
  packages/app/src/electron/main/createAppMenu.ts
  packages/app/src/electron/main/main.ts
  packages/app/src/features/MainScreen/TagsPanel/useTagContextMenu.ts
  packages/app/src/features/NotesContainer/NoteContextMenu/useNoteContextMenu.ts
  packages/app/src/i18n.ts
  packages/app/src/locales/en/contextMenu.json
  packages/app/src/locales/en/menu.json
  packages/app/src/locales/ru/contextMenu.json
  packages/app/src/locales/ru/menu.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: use localized messages in confirm prompts
  packages/app/src/features/MonakoEditor/features/useDropFiles.ts
  packages/app/src/features/NoteEditor/RichEditor/plugins/Files/useInsertFiles.tsx
  packages/app/src/hooks/notes/useNoteCommandHandlers.ts
  packages/app/src/locales/en/features.json
  packages/app/src/locales/ru/features.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: proofread the source locale
  packages/app/src/locales/en/features.json
  packages/app/src/locales/en/settings.json
  packages/app/src/locales/en/vault.json
Due: prettier --write --parser json

chore: improve tags related locales
  packages/app/src/features/MainScreen/TagsPanel/index.tsx
  packages/app/src/locales/en/features.json
  packages/app/src/locales/en/menu.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

fix: make center box are scrollable
  packages/app/src/features/App/CenterBox.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: support languages with suffix
  packages/app/src/LocalesProvider.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: escape slashes in filename
  packages/app/src/features/MonakoEditor/features/useDropFiles.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: prettify
  packages/app/src/components/TagEditor/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: add temporary note
  packages/app/src/features/App/Workspace/index.tsx
  packages/app/src/features/MainScreen/NotesListPanel/NotesList.tsx
  packages/app/src/features/NotesContainer/OpenedNotesPanel.tsx
  packages/app/src/state/redux/vaults/selectors/notes.ts
  packages/app/src/state/redux/vaults/vaults.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: update api
  packages/app/src/features/MainScreen/NotesListPanel/NotesList.tsx
  packages/app/src/features/NotesContainer/OpenedNotesPanel.tsx
  packages/app/src/hooks/notes/useNoteActions.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: rename
  packages/app/src/features/MainScreen/NotesListPanel/NotesList.tsx
  packages/app/src/features/NotesContainer/OpenedNotesPanel.tsx
  packages/app/src/features/NotesContainer/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: rename
  packages/app/src/features/NotesContainer/OpenedNotesPanel.tsx
  packages/app/src/features/NotesContainer/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: update type
  packages/app/src/features/App/Workspace/WorkspaceProvider.tsx
  packages/app/src/features/App/Workspace/index.tsx
  packages/app/src/state/redux/vaults/vaults.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update, fix typo
  packages/app/src/features/MainScreen/NotesListPanel/NotesList.tsx
  packages/app/src/features/NotesContainer/index.tsx
  packages/app/src/state/redux/vaults/vaults.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: combine click handler
  packages/app/src/features/MainScreen/NotesListPanel/NotesList.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor: reset temp note only if content changed
  packages/app/src/state/redux/vaults/vaults.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: restore temporary note
  packages/app/src/features/App/Workspace/WorkspaceStateInitializer.tsx
  packages/app/src/features/App/Workspace/services/workspaceState.ts
  packages/app/src/state/redux/vaults/selectors/selectWorkspaceState.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: rename
  packages/app/src/features/App/Workspace/WorkspaceProvider.tsx
  packages/app/src/features/App/Workspace/index.tsx
  packages/app/src/features/MainScreen/NotesListPanel/NotesList.tsx
  packages/app/src/features/NotesContainer/index.tsx
  packages/app/src/hooks/notes/useNoteActions.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: fix typo, update comments
  packages/app/src/features/App/Workspace/WorkspaceStateInitializer.tsx
  packages/app/src/state/redux/vaults/vaults.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: prevent reset temporary note if click on persist note
  packages/app/src/hooks/notes/useNoteActions.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: send telemetry
  packages/app/src/features/MainScreen/NotesListPanel/NotesList.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: pass param temporary directly
  packages/app/src/hooks/notes/useNoteActions.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: rename, check note existing
  packages/app/src/features/App/Workspace/WorkspaceStateInitializer.tsx
  packages/app/src/features/App/Workspace/services/workspaceState.ts
  packages/app/src/state/redux/vaults/selectors/selectWorkspaceState.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update style
  packages/app/src/features/NotesContainer/OpenedNotesPanel.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: rename
  packages/app/src/features/App/Workspace/WorkspaceStateInitializer.tsx
  packages/app/src/features/App/Workspace/index.tsx
  packages/app/src/hooks/notes/useNoteActions.ts
  packages/app/src/state/redux/vaults/vaults.ts
Due: eslint --fix --max-warnings 0, prettier --write
