Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": [
		"eslint --fix --max-warnings 0",
		"prettier --write"
	],
	"*.css": [
		"stylelint --fix"
	],
	"*.{md,mdx}": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

perf: decrease buffers usage for Serpent
  src/core/encryption/ciphers/Serpent/index.ts
  src/core/encryption/utils/buffers.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: convert buffers to strings
  src/core/encryption/__tests__/ciphers.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: do not allocate buffer for input
  src/core/encryption/ciphers/Twofish/index.ts
  src/core/encryption/utils/buffers.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: use buffer reader
  src/core/encryption/ciphers/Twofish/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: update cipher tests
  src/core/encryption/__tests__/ciphers.test.ts
  src/core/encryption/__tests__/random.test.ts
  src/core/encryption/__tests__/random.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: update snapshots
  src/core/encryption/__tests__/__snapshots__/encryption.consistency.test.ts.snap
  src/core/encryption/__tests__/__snapshots__/random.test.ts.snap
Due: none

chore: update tests
  src/core/features/files/FilesStorage.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: use AES-CTR
  src/core/encryption/__tests__/ciphers.test.ts
  src/core/encryption/__tests__/encryption.consistency.test.ts
  src/core/encryption/ciphers/AES/index.ts
  src/core/encryption/utils/keys.ts
  src/core/features/encryption/worker/Encryption.worker.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: rename AES cipher
  src/core/encryption/__tests__/ciphers.test.ts
  src/core/encryption/__tests__/encryption.consistency.test.ts
  src/core/encryption/ciphers/AES/index.ts
  src/core/features/encryption/worker/Encryption.worker.ts
  src/core/features/files/FilesStorage.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: use HMAC for integrity
  src/core/encryption/processors/BufferIntegrityProcessor.test.ts
  src/core/encryption/processors/BufferIntegrityProcessor.ts
  src/core/encryption/processors/__snapshots__/BufferIntegrityProcessor.test.ts.snap
Due: eslint --fix --max-warnings 0, prettier --write

chore: update integrity header use
  src/core/encryption/__tests__/__snapshots__/encryption.consistency.test.ts.snap
  src/core/encryption/__tests__/ciphers.test.ts
  src/core/encryption/__tests__/encryption.consistency.test.ts
  src/core/encryption/ciphers/AES/index.ts
  src/core/features/encryption/worker/Encryption.worker.ts
  src/core/features/files/FilesStorage.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: organize tests
  src/core/encryption/__tests__/__snapshots__/ciphers.test.ts.snap
  src/core/encryption/__tests__/__snapshots__/ciphers.vectors.test.ts.snap
  src/core/encryption/__tests__/__snapshots__/encryption.consistency.test.ts.snap
  src/core/encryption/__tests__/ciphers.spec.test.ts
  src/core/encryption/__tests__/ciphers.test.ts
  src/core/encryption/__tests__/ciphers.ts
  src/core/encryption/__tests__/ciphers.vectors.test.ts
  src/core/encryption/__tests__/encryption.consistency.test.ts
  src/core/encryption/__tests__/utils.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: unify encryption pipeline configuration
  src/core/encryption/utils/random.ts
  src/core/features/encryption/algorithms.ts
  src/core/features/encryption/configureEncryptionPipeline.ts
  src/core/features/encryption/worker/Encryption.worker.ts
  src/core/features/encryption/worker/encryption.bench.ts
  src/core/features/encryption/worker/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: new encryption pipeline
  src/core/encryption/__tests__/ciphers.ts
  src/core/encryption/utils/keys.ts
  src/core/features/files/FilesStorage.test.ts
  src/features/App/Profiles/hooks/useProfileContainers.ts
  src/features/App/useProfilesList.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: cryptography utils in worker
  src/core/features/encryption/worker/CryptographyUtils.test.ts
  src/core/features/encryption/worker/CryptographyUtils.ts
  src/core/features/encryption/worker/CryptographyUtils.worker.ts
  src/core/features/encryption/worker/__snapshots__/CryptographyUtils.test.ts.snap
  src/core/features/encryption/worker/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: use Argon2id for key derivation
  src/core/encryption/utils/keys.ts
  src/features/App/Profiles/hooks/useProfileContainers.ts
  src/features/App/useProfilesList.ts
Due: eslint --fix --max-warnings 0, prettier --write

build: disable fallback for note imports
  scripts/webpack/app.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove twofish from tsconfig
  tsconfig.json
Due: prettier --write --parser json

chore: update eslint config
  eslint.config.ts
  packages/twofish/tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

ci: build twofish
  .github/workflows/codeql.yml
Due: none

ci: build Twofish
  .github/workflows/codeql.yml
Due: none

ci: use actual UID
  .github/workflows/codeql.yml
  packages/twofish/compose.yml
Due: none

ci: use actual UID
  .github/workflows/codeql.yml
Due: none

ci: use actual UID
  .github/workflows/codeql.yml
  packages/twofish/build.sh
Due: none

chore: update contributing md
  CONTRIBUTING.md
Due: prettier --write --parser markdown

test: add AES spec test
  src/core/encryption/ciphers/AES/AES.spec.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: update tests
  src/core/encryption/ciphers/Twofish/twofish.wasm.test.ts
  src/core/encryption/ciphers/XChaCha20/xchacha.spec.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: fix typo
  src/core/encryption/__tests__/ciphers.ts
  src/core/encryption/ciphers/Serpent/index.ts
  src/core/features/encryption/configureEncryptionPipeline.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update deps
  package-lock.json
  package.json
Due: prettier --write --parser json

test: use 32 bytes key
  src/core/encryption/__tests__/__snapshots__/ciphers.vectors.test.ts.snap
  src/core/encryption/__tests__/ciphers.vectors.test.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: return full range of pseudo random bytes
  src/core/encryption/__tests__/__snapshots__/random.test.ts.snap
  src/core/encryption/__tests__/random.test.ts
  src/core/encryption/__tests__/random.ts
Due: eslint --fix --max-warnings 0, prettier --write

test: update snapshots
  src/core/encryption/processors/__snapshots__/BufferIntegrityProcessor.test.ts.snap
Due: none

chore: remove comments
  packages/twofish/compose.yml
Due: none

chore: floor the numbers
  src/core/encryption/__tests__/random.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: padding for serpent encryption
  src/core/encryption/__tests__/__snapshots__/ciphers.vectors.test.ts.snap
  src/core/encryption/ciphers/Serpent/Serpent.test.ts
  src/core/encryption/ciphers/Serpent/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: rename Twofish
  src/core/encryption/__tests__/ciphers.ts
  src/core/encryption/ciphers/Twofish/index.ts
  src/core/features/encryption/configureEncryptionPipeline.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: update var
  src/core/encryption/ciphers/Serpent/index.ts
Due: eslint --fix --max-warnings 0, prettier --write
