Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: update note title limits
  src/components/NotePreview/NotePreview.tsx
  src/features/NotesContainer/OpenedNotesPanel.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: add screenshots
  packages/site/src/components/Landing/app.png
  packages/site/src/components/Landing/features/encryption.png
  packages/site/src/components/Landing/features/history.png
  packages/site/src/components/Landing/features/links.png
  packages/site/src/components/Landing/features/reminders.png
  packages/site/src/components/Landing/features/tags.png
  packages/site/src/components/Landing/features/workspaces.png
  packages/site/src/components/Landing/index.module.css
  packages/site/src/components/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --fix

chore: rename profile to vault on introduction screen
  src/features/App/WorkspaceManager/ProfileCreator/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor: use chakra-ui instead of css modules
  package-lock.json
  packages/site/package.json
  packages/site/src/components/ChakraProvider.tsx
  packages/site/src/components/Landing/LandingLayout.tsx
  packages/site/src/components/Landing/LandingWithProvider.tsx
  packages/site/src/components/Landing/StyledComponents.tsx
  packages/site/src/components/Landing/index.astro
  packages/site/src/components/Landing/index.module.css
  packages/site/src/components/Landing/index.tsx
  packages/site/src/theme/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --fix, prettier --write --parser json

refactor: organize chakra-ui use
  packages/site/src/components/Landing/LandingLayout.tsx
  packages/site/src/components/Landing/Logo.tsx
  packages/site/src/components/Landing/StyledComponents.tsx
  packages/site/src/components/Landing/index.tsx
  packages/site/src/theme/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update CTA text
  packages/site/src/components/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: improve colors
  packages/site/src/components/Landing/LandingLayout.tsx
  packages/site/src/components/Landing/index.tsx
  packages/site/src/theme/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update meta tags
  packages/site/src/components/SEO.astro
Due: none

feat: adoption for mobiles
  package-lock.json
  packages/site/package.json
  packages/site/src/components/Landing/LandingLayout.tsx
  packages/site/src/components/Landing/index.tsx
  packages/site/src/theme/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

refactor: separate components of pages
  packages/site/src/components/Headers.astro
  packages/site/src/components/Landing/LandingWithProvider.tsx
  packages/site/src/components/Landing/index.astro
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/components/Layout/Logo.tsx
  packages/site/src/components/Layout/icon-simple.svg
  packages/site/src/components/Link.tsx
  packages/site/src/components/Text.tsx
  packages/site/src/features/Landing/app.png
  packages/site/src/features/Landing/app.svg
  packages/site/src/features/Landing/features/encryption.png
  packages/site/src/features/Landing/features/history.png
  packages/site/src/features/Landing/features/links.png
  packages/site/src/features/Landing/features/reminders.png
  packages/site/src/features/Landing/features/tags.png
  packages/site/src/features/Landing/features/workspaces.png
  packages/site/src/features/Landing/index.astro
  packages/site/src/features/Landing/index.tsx
  packages/site/src/pages/index.astro
Due: eslint --fix --max-warnings 0, prettier --write

chore: organize resources and names
  packages/site/src/components/Headers.astro
  packages/site/src/components/Layout/Logo.tsx
  packages/site/src/components/Layout/logo-icon.svg
  packages/site/src/features/Landing/index.tsx
  packages/site/src/features/Landing/logo.svg
  packages/site/src/features/Landing/screenshots/app.png
  packages/site/src/features/Landing/screenshots/encryption.png
  packages/site/src/features/Landing/screenshots/history.png
  packages/site/src/features/Landing/screenshots/links.png
  packages/site/src/features/Landing/screenshots/reminders.png
  packages/site/src/features/Landing/screenshots/tags.png
  packages/site/src/features/Landing/screenshots/workspaces.png
Due: eslint --fix --max-warnings 0, prettier --write

feat: add favicon
  packages/site/public/favicon.svg
  packages/site/src/components/Headers.astro
Due: none

feat: add page 404
  packages/site/src/components/Link.tsx
  packages/site/src/config.ts
  packages/site/src/features/404/index.astro
  packages/site/src/features/404/index.tsx
  packages/site/src/pages/404.astro
  packages/site/src/theme/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: organize astro files
  packages/site/src/components/Document.astro
  packages/site/src/components/Headers.astro
  packages/site/src/features/404/index.astro
  packages/site/src/features/Landing/index.astro
  packages/site/src/pages/404.astro
  packages/site/src/pages/index.astro
Due: none

refactor: introduce TheRock component
  packages/site/src/components/TheRock.tsx
  packages/site/src/components/deepink.svg
  packages/site/src/components/logo.svg
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: add downloads page
  package-lock.json
  packages/site/package.json
  packages/site/src/features/Download/index.tsx
  packages/site/src/features/releases.ts
  packages/site/src/pages/download.astro
  packages/site/src/pages/versions.json.astro
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

feat: use svg text in logo
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/components/Layout/Logo.tsx
  packages/site/src/components/Layout/logo.svg
Due: eslint --fix --max-warnings 0, prettier --write

feat: jump to features
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: make logo clickable
  packages/site/src/components/Layout/Layout.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: update links
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: introduce i18n
  package-lock.json
  packages/site/package.json
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/features/Landing/index.tsx
  packages/site/src/i18n/config.ts
  packages/site/src/i18n/locales/en/landing.json
  packages/site/src/i18n/locales/en/layout.json
  packages/site/src/i18n/utils.ts
  packages/site/src/pages/[lang]/download.astro
  packages/site/src/pages/[lang]/index.astro
  packages/site/src/pages/download.astro
  packages/site/src/pages/index.astro
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

feat: add alternative localizations
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/features/Download/index.tsx
  packages/site/src/features/Landing/index.tsx
  packages/site/src/i18n/config.ts
  packages/site/src/i18n/createI18nInstance.ts
  packages/site/src/i18n/locales/da/landing.json
  packages/site/src/i18n/locales/da/layout.json
  packages/site/src/i18n/locales/de/landing.json
  packages/site/src/i18n/locales/de/layout.json
  packages/site/src/i18n/locales/es/landing.json
  packages/site/src/i18n/locales/es/layout.json
  packages/site/src/i18n/locales/fr/landing.json
  packages/site/src/i18n/locales/fr/layout.json
  packages/site/src/i18n/locales/it/landing.json
  packages/site/src/i18n/locales/it/layout.json
  packages/site/src/i18n/locales/ru/landing.json
  packages/site/src/i18n/locales/ru/layout.json
  packages/site/src/i18n/locales/tr/landing.json
  packages/site/src/i18n/locales/tr/layout.json
  packages/site/src/i18n/types.ts
  packages/site/src/i18n/utils.ts
  packages/site/src/pages/[lang]/download.astro
  packages/site/src/pages/[lang]/index.astro
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

feat: provide alt versions
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/features/404/index.tsx
  packages/site/src/i18n/types.ts
  packages/site/src/i18n/utils.ts
  packages/site/src/pages/404.astro
  packages/site/src/pages/[lang]/download.astro
  packages/site/src/pages/[lang]/index.astro
Due: eslint --fix --max-warnings 0, prettier --write

feat: use localized links
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/components/Locale.tsx
  packages/site/src/features/Landing/index.tsx
  packages/site/src/i18n/config.ts
  packages/site/src/i18n/createI18nInstance.ts
  packages/site/src/i18n/index.ts
  packages/site/src/i18n/utils.ts
  packages/site/src/pages/[lang]/download.astro
  packages/site/src/pages/[lang]/index.astro
Due: eslint --fix --max-warnings 0, prettier --write

fix: styles of localized pages
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: skip versions for invalid paths
  packages/site/src/i18n/utils.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: highlight current language
  packages/site/src/components/Layout/Layout.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: use actual language code in html tag
  packages/site/src/components/Document.astro
  packages/site/src/pages/[lang]/download.astro
  packages/site/src/pages/[lang]/index.astro
Due: none

feat: add alt links in meta
  packages/site/astro.config.mjs
  packages/site/src/components/Document.astro
  packages/site/src/components/Headers.astro
  packages/site/src/pages/[lang]/download.astro
  packages/site/src/pages/[lang]/index.astro
Due: none

feat: localize download page
  packages/site/src/components/Layout/index.tsx
  packages/site/src/features/Download/index.tsx
  packages/site/src/i18n/locales/en/downloads.json
  packages/site/src/i18n/locales/ru/downloads.json
  packages/site/src/pages/[lang]/download.astro
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

refactor: use HOC to provide layout
  packages/site/src/features/404/index.tsx
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: disable global css reset
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/theme/constants.ts
  packages/site/src/theme/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: add blog
  packages/site/src/components/Link.tsx
  packages/site/src/content.config.ts
  packages/site/src/features/Blog/BlogPost.tsx
  packages/site/src/features/Blog/index.tsx
  packages/site/src/features/Blog/types.ts
  packages/site/src/pages/blog/[...slug].astro
  packages/site/src/pages/blog/index.astro
Due: eslint --fix --max-warnings 0, prettier --write

feat: add blog post
  packages/site/src/content/blog/the-workflow-cost/favorited-note.png
  packages/site/src/content/blog/the-workflow-cost/index.md
  packages/site/src/content/blog/the-workflow-cost/obsidian-bookmarks.png
Due: prettier --write --parser markdown

feat: open external links in new tab
  package-lock.json
  packages/site/astro.config.mjs
  packages/site/package.json
Due: prettier --write --parser json

fix: blog post styles
  packages/site/src/features/Blog/index.tsx
  packages/site/src/pages/blog/[...slug].astro
Due: eslint --fix --max-warnings 0, prettier --write

fix: sort blog posts by time
  packages/site/src/pages/blog/index.astro
Due: none

chore: update links
  packages/site/src/content/blog/the-workflow-cost/index.md
Due: prettier --write --parser markdown

fix: provide correct dir with locales
  packages/site/src/i18n/utils.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: proofread source locales
  packages/site/src/i18n/locales/en/downloads.json
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write --parser json

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.css
  prettier --write --parser markdown: any of: *.{md,mdx}
  prettier --write --parser json: any of: *.json
