Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: update keys
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/i18n/locales/en/layout.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

feat: proofread source texts for landing
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write --parser json

chore: delete deprecated translations
  packages/site/src/i18n/locales/da/landing.json
  packages/site/src/i18n/locales/da/layout.json
  packages/site/src/i18n/locales/de/landing.json
  packages/site/src/i18n/locales/de/layout.json
  packages/site/src/i18n/locales/es/landing.json
  packages/site/src/i18n/locales/es/layout.json
  packages/site/src/i18n/locales/fr/landing.json
  packages/site/src/i18n/locales/fr/layout.json
  packages/site/src/i18n/locales/it/landing.json
  packages/site/src/i18n/locales/it/layout.json
  packages/site/src/i18n/locales/ru/downloads.json
  packages/site/src/i18n/locales/ru/landing.json
  packages/site/src/i18n/locales/ru/layout.json
  packages/site/src/i18n/locales/tr/landing.json
  packages/site/src/i18n/locales/tr/layout.json
Due: prettier --write --parser json

chore: add link to a landing
  packages/site/src/features/Landing/index.tsx
  packages/site/src/i18n/locales/en/landing.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

fix: link styles
  packages/site/src/components/Link.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: limit width
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: tune localization
  packages/site/src/i18n/locales/en/downloads.json
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write --parser json

chore: improve texts
  packages/site/src/i18n/locales/en/landing.json
Due: prettier --write --parser json

feat: use a tool to translate locale files
  packages/site/.gitignore
  packages/site/compose.yml
  packages/site/docker/transmart/Dockerfile
  packages/site/transmart.config.js
Due: eslint --fix --max-warnings 0, prettier --write

chore: limit CTA section width
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: add translation
  packages/site/src/i18n/locales/ru/downloads.json
  packages/site/src/i18n/locales/ru/landing.json
  packages/site/src/i18n/locales/ru/layout.json
  packages/site/transmart.config.js
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

feat: tune text on landing
  packages/site/src/features/Download/index.tsx
  packages/site/src/features/Landing/index.tsx
  packages/site/src/i18n/locales/en/downloads.json
  packages/site/src/i18n/locales/en/landing.json
  packages/site/src/i18n/locales/en/layout.json
  packages/site/src/theme/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: update localization config
  packages/site/.env.example
  packages/site/compose.yml
  packages/site/package.json
  packages/site/src/i18n/utils.ts
  packages/site/transmart.config.js
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: update translation
  packages/site/src/i18n/locales/en/downloads.json
  packages/site/src/i18n/locales/ru/landing.json
  packages/site/src/i18n/locales/ru/layout.json
Due: prettier --write --parser json

chore: remove costs segment
  packages/site/src/content/blog/the-workflow-cost/index.md
Due: prettier --write --parser markdown

chore: improve markdown text styles
  packages/site/src/pages/blog/[...slug].astro
Due: none

style: proofread a blog post
  packages/site/src/content/blog/the-workflow-cost/index.md
Due: prettier --write --parser markdown

feat: add privacy and terms pages
  packages/site/src/components/MarkdownContent.astro
  packages/site/src/content/legal/privacy.md
  packages/site/src/content/legal/terms.md
  packages/site/src/features/StaticPage.tsx
  packages/site/src/pages/blog/[...slug].astro
  packages/site/src/pages/privacy.astro
  packages/site/src/pages/terms.astro
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser markdown

chore: add changelog link
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/config.ts
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: open external links in new tab
  packages/site/src/components/Link.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor: introduce MarkdownPage component
  packages/site/src/components/MarkdownPage.astro
  packages/site/src/pages/privacy.astro
  packages/site/src/pages/terms.astro
Due: none

chore: add about page
  packages/site/src/content/legal/about.md
  packages/site/src/pages/about.astro
Due: prettier --write --parser markdown

chore: translate site to other languages
  packages/site/src/i18n/utils.ts
  packages/site/transmart.config.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: generate Intl messages on server side
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/features/Download/index.tsx
  packages/site/src/i18n/types.ts
  packages/site/src/i18n/utils.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove debug print
  packages/site/src/pages/[lang]/index.astro
Due: none

feat: add Georgian language
  packages/site/src/i18n/locales/ka/downloads.json
  packages/site/src/i18n/locales/ka/landing.json
  packages/site/src/i18n/locales/ka/layout.json
  packages/site/src/i18n/locales/pt-BR/landing.json
  packages/site/src/i18n/locales/pt-PT/landing.json
  packages/site/src/i18n/locales/zh-CN/downloads.json
  packages/site/src/i18n/locales/zh-CN/landing.json
  packages/site/src/i18n/locales/zh-TW/landing.json
Due: prettier --write --parser json

feat: add more translations
  packages/site/src/i18n/locales/ar/downloads.json
  packages/site/src/i18n/locales/ar/landing.json
  packages/site/src/i18n/locales/ar/layout.json
  packages/site/src/i18n/locales/el/downloads.json
  packages/site/src/i18n/locales/el/landing.json
  packages/site/src/i18n/locales/el/layout.json
  packages/site/src/i18n/locales/fa/downloads.json
  packages/site/src/i18n/locales/fa/landing.json
  packages/site/src/i18n/locales/fa/layout.json
  packages/site/src/i18n/locales/fi/downloads.json
  packages/site/src/i18n/locales/fi/landing.json
  packages/site/src/i18n/locales/fi/layout.json
  packages/site/src/i18n/locales/he/downloads.json
  packages/site/src/i18n/locales/he/landing.json
  packages/site/src/i18n/locales/he/layout.json
  packages/site/src/i18n/locales/hi/downloads.json
  packages/site/src/i18n/locales/hi/landing.json
  packages/site/src/i18n/locales/hi/layout.json
  packages/site/src/i18n/locales/id/downloads.json
  packages/site/src/i18n/locales/id/landing.json
  packages/site/src/i18n/locales/id/layout.json
  packages/site/src/i18n/locales/nl/downloads.json
  packages/site/src/i18n/locales/nl/landing.json
  packages/site/src/i18n/locales/nl/layout.json
  packages/site/src/i18n/locales/ro/downloads.json
  packages/site/src/i18n/locales/ro/landing.json
  packages/site/src/i18n/locales/ro/layout.json
  packages/site/src/i18n/locales/th/downloads.json
  packages/site/src/i18n/locales/th/landing.json
  packages/site/src/i18n/locales/th/layout.json
  packages/site/transmart.config.js
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: watch i18n files in dev mode
  packages/site/astro.config.mjs
Due: none

feat: add the docs
  packages/site/src/content/docs/guides/example.md
  packages/site/src/content/docs/index.mdx
  packages/site/src/content/docs/introduction/index.md
  packages/site/src/content/docs/introduction/security.md
  packages/site/src/content/docs/introduction/vault-creation.png
  packages/site/src/content/docs/reference/example.md
Due: prettier --write --parser markdown

feat: improve docs styles
  package-lock.json
  packages/site/astro.config.mjs
  packages/site/package.json
  packages/site/src/content.config.ts
  packages/site/src/styles.css
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --fix, prettier --write --parser json

chore: update links on layout
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/i18n/locales/ar/layout.json
  packages/site/src/i18n/locales/bg/layout.json
  packages/site/src/i18n/locales/ca/layout.json
  packages/site/src/i18n/locales/cs/layout.json
  packages/site/src/i18n/locales/da/layout.json
  packages/site/src/i18n/locales/de/layout.json
  packages/site/src/i18n/locales/el/layout.json
  packages/site/src/i18n/locales/en/layout.json
  packages/site/src/i18n/locales/es/layout.json
  packages/site/src/i18n/locales/fa/layout.json
  packages/site/src/i18n/locales/fi/layout.json
  packages/site/src/i18n/locales/fr/layout.json
  packages/site/src/i18n/locales/he/layout.json
  packages/site/src/i18n/locales/hi/layout.json
  packages/site/src/i18n/locales/hu/layout.json
  packages/site/src/i18n/locales/id/layout.json
  packages/site/src/i18n/locales/it/layout.json
  packages/site/src/i18n/locales/ja/layout.json
  packages/site/src/i18n/locales/ka/layout.json
  packages/site/src/i18n/locales/ko/layout.json
  packages/site/src/i18n/locales/nb/layout.json
  packages/site/src/i18n/locales/nl/layout.json
  packages/site/src/i18n/locales/pl/layout.json
  packages/site/src/i18n/locales/pt-BR/layout.json
  packages/site/src/i18n/locales/pt-PT/layout.json
  packages/site/src/i18n/locales/ro/layout.json
  packages/site/src/i18n/locales/ru/layout.json
  packages/site/src/i18n/locales/sl/layout.json
  packages/site/src/i18n/locales/sr/layout.json
  packages/site/src/i18n/locales/sv/layout.json
  packages/site/src/i18n/locales/th/layout.json
  packages/site/src/i18n/locales/tr/layout.json
  packages/site/src/i18n/locales/uk/layout.json
  packages/site/src/i18n/locales/vi/layout.json
  packages/site/src/i18n/locales/zh-CN/layout.json
  packages/site/src/i18n/locales/zh-TW/layout.json
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: add favicon to docs
  packages/site/astro.config.mjs
Due: none

chore: proofread the security
  packages/site/src/content/docs/introduction/security.md
Due: prettier --write --parser markdown

feat: add links in docs
  packages/site/src/content/docs/introduction/security.md
Due: prettier --write --parser markdown

chore: proofread the introduction
  packages/site/src/content/docs/introduction/index.md
Due: prettier --write --parser markdown

feat: add a screenshots
  packages/site/src/content/docs/introduction/index.md
  packages/site/src/content/docs/introduction/workspace-content.png
Due: prettier --write --parser markdown

chore: npm audit fix
  package-lock.json
Due: prettier --write --parser json

fix: layout for wide screens
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/features/Download/index.tsx
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: introduce link context
  packages/site/src/components/Link.tsx
  packages/site/src/features/Download/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.css
  prettier --write --parser markdown: any of: *.{md,mdx}
  prettier --write --parser json: any of: *.json
