Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": [
		"eslint --fix --max-warnings 0",
		"prettier --write"
	],
	"*.css": [
		"stylelint --fix"
	],
	"*.{md,mdx}": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

fix: use rem units on landing page
  packages/site/src/features/Landing/index.tsx
  packages/site/src/theme/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove unused styles
  packages/site/src/features/Landing/index.tsx
  packages/site/src/theme/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: nav links size
  packages/site/src/components/Link.tsx
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: text size
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: use rem units on blog page
  packages/site/src/components/MarkdownContent.astro
  packages/site/src/features/Blog/BlogPost.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: suppress hydration warning on date
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/features/Blog/BlogPost.tsx
  packages/site/src/features/Blog/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: use rem units on downloads page
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/components/Link.tsx
  packages/site/src/features/Download/index.tsx
  packages/site/src/features/Landing/index.tsx
  packages/site/src/theme/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: use rem units on blog pages
  packages/site/src/features/Blog/BlogPost.tsx
  packages/site/src/features/Blog/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: use consistent border for images
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

ci: setup site deploy
  .github/workflows/deploy-site.yml
Due: none

ci: update permissions
  .github/workflows/deploy-site.yml
Due: none

chore: larger width
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

ci: fix branch name
  .github/workflows/deploy-site.yml
Due: none

chore: inline config variables
  packages/site/astro.config.mjs
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/config.ts
  packages/site/src/features/404/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: add canonical URL
  packages/site/src/components/Headers.astro
Due: none

chore: disable support notice
  packages/site/src/i18n/createI18nInstance.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: add analytics on landing
  package-lock.json
  packages/site/package.json
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/components/analytics/EngagementTimeTracker.ts
  packages/site/src/components/analytics/enableEngagementTracking.ts
  packages/site/src/components/analytics/index.ts
  packages/site/src/components/analytics/react.tsx
  packages/site/src/components/analytics/useAnalytics.tsx
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

feat: score sessions
  packages/site/src/components/analytics/enableEngagementTracking.ts
  packages/site/src/components/analytics/enableSessionScoring.ts
  packages/site/src/components/analytics/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: track hamburger menu and page version clicks
  packages/site/src/components/Layout/Layout.tsx
  packages/site/src/components/analytics/useAnalytics.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: update event name
  packages/site/src/components/analytics/enableEngagementTracking.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: track 404
  packages/site/src/features/404/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: track download button clicks
  packages/site/src/features/Download/index.tsx
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: track share link
  packages/site/src/components/analytics/index.ts
  packages/site/src/features/Blog/BlogPost.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: skip events in dev mode
  packages/site/src/components/analytics/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: enable analytics for a docs
  packages/site/astro.config.mjs
  packages/site/src/components/PageFrame.astro
Due: none

ci: deploy on production for test
  .github/workflows/deploy-site.yml
Due: none

Revert "ci: deploy on production for test"
  .github/workflows/deploy-site.yml
Due: none

fix: mobile view
  packages/site/src/components/Link.tsx
  packages/site/src/features/Download/index.tsx
  packages/site/src/features/Landing/index.tsx
  packages/site/src/theme/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: track click features button
  packages/site/src/components/analytics/index.ts
  packages/site/src/features/Landing/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: track clicks
  packages/site/src/components/analytics/enableClickTracking.ts
  packages/site/src/components/analytics/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove debug print
  packages/site/src/components/analytics/enableClickTracking.ts
Due: eslint --fix --max-warnings 0, prettier --write

ci: provide GITHUB_TOKEN
  .github/workflows/deploy-site.yml
Due: none

chore: delete assets
  packages/site/src/assets/houston.webp
Due: none

ci: lint workflow files
  .github/workflows/codeql.yml
Due: none

ci: update actions
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/site.yml
Due: none

ci: fix env key
  .github/workflows/site.yml
Due: none

chore: set dev engines
  package.json
Due: prettier --write --parser json

ci: update actions
  .github/workflows/codeql.yml
Due: none

ci: update action versions
  .github/workflows/codeql.yml
Due: none
