Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": [
		"eslint --fix --max-warnings 0",
		"prettier --write"
	],
	"*.css": [
		"stylelint --fix"
	],
	"*.{md,mdx}": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

chore: test changes
  src/core/features/notes/controller/NotesController.test.ts
  src/features/App/Profile/index.tsx
  src/features/App/Profile/services/useVaultConfigSync.tsx
  src/features/App/ProfileCreator/index.tsx
  src/features/App/ProfileLoginForm/index.tsx
  src/features/App/ProfilesForm.tsx
  src/features/App/VaultScreenManager.tsx
  src/features/App/Workspace/index.tsx
  src/features/App/Workspace/services/WorkspaceServices.tsx
  src/features/App/Workspace/services/useWorkspaceConfigSync.tsx
  src/features/App/Workspace/useWorkspaceInitialization.tsx
  src/features/App/Workspace/useWorkspaceState.tsx
  src/features/App/WorkspaceManager/index.tsx
  src/features/App/index.tsx
  src/features/App/useProfilesList.ts
  src/features/App/useRecentProfile.ts
  src/features/App/useVaultOpener.tsx
  src/state/redux/profiles/profiles.ts
Due: eslint --fix --max-warnings 0, prettier --write

ci: run on pull_request
  .github/workflows/code-review.yml
Due: none

ci: enable debug mode
  .github/workflows/code-review.yml
Due: none

ci: use another reviewer
  .github/workflows/code-review.yml
Due: none

ci: update tokens limit
  .github/workflows/code-review.yml
Due: none

ci: try meta-llama/llama-3-70b-instruct
  .github/workflows/code-review.yml
Due: none

ci: try anthropic/claude-sonnet-4.6
  .github/workflows/code-review.yml
Due: none

ci: try ai-pr-reviewer with sonnet
  .github/workflows/code-review.yml
Due: none

chore: trim string
  src/features/MainScreen/WorkspacesPanel/WorkspaceCreatePopup.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: disable first
  src/features/MainScreen/WorkspacesPanel/WorkspaceCreatePopup.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: add early return
  src/features/MainScreen/WorkspacesPanel/WorkspaceCreatePopup.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: wrap to form for handle enter key
  src/features/MainScreen/WorkspacesPanel/WorkspaceCreatePopup.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: reset error
  src/features/MainScreen/WorkspacesPanel/WorkspaceCreatePopup.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: rename, add check
  src/hooks/notes/useNoteCommandHandlers.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: add title
  src/features/NoteEditor/NoteMenu.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove export
  src/hooks/notes/useNoteCommandHandlers.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove async
  src/features/NotesContainer/NoteContextMenu/useNoteContextMenu.ts
  src/hooks/notes/useNoteCommandHandlers.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: add await
  src/hooks/notes/useNoteCommandHandlers.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: add wrapper with isActiveWorkspace context
  src/features/App/Workspace/useWorkspaceShortcutsHandlers.ts
  src/hooks/shortcuts/useWorkspaceShortcutsCallback.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove deps
  src/features/NotesContainer/OpenedNotesPanel.tsx
  src/features/NotesContainer/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: rename
  src/hooks/commands/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: separate delete command
  src/features/App/Workspace/useWorkspaceShortcutsHandlers.ts
  src/features/NoteEditor/NoteMenu.tsx
  src/features/NotesContainer/NoteContextMenu/useNoteContextMenu.ts
  src/hooks/commands/index.ts
  src/hooks/notes/useNoteCommandHandlers.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: do not await telemetry events in main process
  src/core/features/telemetry/Telemetry.ts
  src/electron/main/main.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: handle shutdown by Ctrl+C
  src/electron/main/main.ts
  src/electron/main/onShutdown.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: add method to check if tray is active
  src/electron/main/AppTray.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: wrap hooks to component
  src/features/MainScreen/WorkspaceCommandRegistry.tsx
  src/features/MainScreen/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: rename
  src/hooks/shortcuts/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: add restore shortcut handle
  src/features/App/Workspace/useWorkspaceShortcutsHandlers.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: prevent default for key press event
  src/hooks/shortcuts/useShortcutsBinding.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: gracefully shutdown the app
  package-lock.json
  package.json
  src/electron/main/main.ts
  src/electron/main/onShutdown.ts
  src/electron/requests/electronPatches/main.ts
  src/windows/main/main.ts
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

chore: update debug print
  src/electron/main/main.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: cleanup state by disable tray
  src/electron/main/AppTray.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: ensure quit will done successfully
  src/electron/main/main.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: ensure cleanups do not throw
  src/electron/main/main.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: delete called cleanups
  src/electron/main/main.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: bad performance on startup (#240)
  package-lock.json
  package.json
  src/core/features/telemetry/Telemetry.ts
  src/electron/main/AppTray.ts
  src/electron/main/main.ts
  src/electron/requests/electronPatches/main.ts
  src/windows/main/main.ts
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

refactor: move to utils
  src/hooks/notes/useNoteCommandHandlers.ts
  src/utils/getMarkdownLinkTitle.test.ts
  src/utils/getMarkdownLinkTitle.ts
  src/utils/getNoteFileName.test.ts
  src/utils/getNoteFileName.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: remember window size and position
  package-lock.json
  package.json
  src/main.ts
  src/windows/main/main.ts
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json

feat: remember window size and position (#242)
  package-lock.json
  package.json
  src/main.ts
  src/windows/main/main.ts
Due: eslint --fix --max-warnings 0, prettier --write, prettier --write --parser json
